<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Person:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Person</h1>

    <f:flashMessages/>

    <f:comment><!--
        TODO: Add  proper translations for all fields (static and dynamic)
    --></f:comment>

    <div class="tx_rcgprojectdb row contactTeaserWrap multiple">
        <f:for each="{people}" as="person">
            <div class="col-md-6">
                <div class="contactTeaser vcard">
                    <figure class="avatar">
                        <f:image image="{person.image}" maxWidth="130" width="130" height="130"/>
                    </figure>
                    <div class="personaldata">
                        <div class="upper">
                            <h2 class="h2-teaser-lowercase n">
                                <span class="honorific-prefix">{person.title}</span>
                                <span class="given-name">{person.firstname}</span>
                                <span class="family-name">{person.lastname}</span>
                            </h2>
                        </div>
                        <div class="inner">
                            <f:for each="{person.researchArea}" as="area">
                                <p>{area.title}</p>
                            </f:for>
                        </div>
                        <p class="links">
                            <a class="email readon" href="{person.email}"> E-Mail Schreiben </a>
                            <br>
                            <a class="readon" href="{person.profile}"> Zum Profil </a>
                        </p>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>
</html>
