@use '~sass-mq/mq' as mq;

.c-navHighlight {
  position: relative;
  margin-top: rem(50px);
  margin-bottom: rem(165px);
  //margin-right: rem(-40px);
  min-height: rem(390px);
  overflow: hidden;

  &_background {
    position: absolute;
    inset: 0;
    z-index: -1;
    aspect-ratio: 1 / 1;
  }
  &_content {
    background: transparent;
    padding: rem(40px);
  }
  &_title {
    margin-bottom: rem(25px);
    color: var(--sig-white);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(17px, 23px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(18px, 24px);
    }
  }
}
