@use '~sass-mq/mq' as mq;

.c-topics {
  margin-top: rem(40px);

  &_wall {
    @include u-grid(1, $padding-s);
    grid-auto-flow: row;
    grid-template-columns: 100%;

    @include mq.mq($from: tablet) {
      @include u-grid(3, $padding-m);
    }
    @include mq.mq($from: desktop) {
      @include u-grid(3, $padding-l);
    }
  }

  &_item {
    display: inline-block;
    width: 100%;
    background: var(--sig-lightgrey);
    grid-column: auto/span 1;
    & .c-tile_media {
      aspect-ratio: 1/1;
    }

    &.-large {
      grid-column: span 1;
      & .c-tile_media {
        aspect-ratio: 1/1;
      }

      @include mq.mq($from: tablet) {
        grid-column: auto/span 2;
        & .c-tile_media {
          aspect-ratio: 2/1;
        }
      }
    }
  }
}
