.c-picture {
  & img {
    content-visibility: auto;
    border-style: none;
    max-width: 100%;
    //height: auto;
    //margin: 0 auto;
    opacity: 0;

    &.is-loaded {
      opacity: 1;
      transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s, transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
  }
}
