.c-factsheetBox {
  $self: &;
  @extend .c-pressBox;

  &_content {
    @extend .c-pressBox_content;
  }
  &_date {
    @extend .c-pressBox_date;
  }
  &_title {
    @extend .c-pressBox_title;
  }
  &_description {
    //margin-bottom: rem(30px);
  }
  &.-vertical {
    grid-template-rows: 1fr;
  }

  @include u-hocus() {
    #{ $self }_title {
      color: var(--sig-primary);
    }
    #{ $self }_content {
      @include u-underline(var(--sig-primary), 2px, 0);

      &:after {
        transition: 0.3s height $easing;
      }
    }
  }
}
