@use '~sass-mq/mq' as mq;

.c-tile {
  $self: &;
  position: relative;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    background: none;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transition-property: background-color;
  }

  &.has-image &_media:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 10;
    background: linear-gradient(0deg, #262626, transparent);
    display: block;
    mix-blend-mode: multiply;
    opacity: 0.5;
  }

  &_wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: rem(30px) rem(30px);
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    transition-property: background-color, padding;
  }

  &_content,
  &_content:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
  }

  &_list {
    //max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: rem(30px);
    transition: 0.3s ease-in-out;
    transition-property: max-height, opacity;
  }
  &_listLink {
    display: flex;
    align-items: center;
    color: var(--sig-white);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(19px, 24px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h5, 26px);
    }
  }
  &_listIcon {
    margin-left: auto;
    height: rem(19px);
    width: rem(19px);
    transform: rotateZ(180deg);
  }

  &_listItem {
    padding-top: rem(8px);
    padding-bottom: rem(8px);
    border-bottom: 1px solid var(--sig-white);
    opacity: 0.7;
    transition: 0.1s opacity linear;

    @include u-hocus() {
      opacity: 1;

      #{$self}_listIcon {
        transform: rotateZ(0deg);
      }
    }

    @include last(1) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &_title {
    display: block;
    font-weight: 400;
    letter-spacing: 0.06px;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    will-change: transform;
    transform: translate3d(0, -100%, 0);

    transition: 0.3s ease-in-out;
    transition-property: opacity, transform;

    @include u-font(26px, 32px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(26px, 32px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(34px, 39px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(36px, 42px);
    }
  }

  &_overlay {
    position: relative;
    display: block;
    width: 100%;
    color: #fff;
    //transform: translateY(30px);
    will-change: transform;
    transform: translate3d(0, 100%, 0);
    transition: 0.3s ease-in-out;
    transition-property: transform;
  }
  &_media {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    & > .o-vector,
    & img {
      position: absolute;
      inset: 0;
      overflow: hidden;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &_image {
    width: 100%;
    //height: 16em!important;
    object-fit: cover;
    height: 100%;
  }

  @include u-hocus() {
    @media (hover: hover) {
      &:before {
        content: '';
        background: rgba(51, 51, 51, 0.7);
      }
      #{$self}_wrapper {
        //background: rgba(51, 51, 51, 0.7);
        //background-blend-mode: multiply;
      }
      #{$self}_title {
        opacity: 0.7;
        transform: translate3d(0, 0, 0);
      }
      #{$self}_list {
        //  max-height: rem(1000px);
        opacity: 1;
      }
      #{$self}_listLink {
        color: var(--sig-white);
      }
      #{$self}_overlay {
        //transform: translateY(0);
        transform: translate3d(0, 0, 0);
      }
    }
  }

  @include mq.mq($until: tablet) {
    --sig-vectorscale: 4;
  }

  @at-root html.is-mobile {
    &:before {
      content: '';
      background: rgba(51, 51, 51, 0.7);
    }
    #{$self} {
      --sig-vectorscale: 4;
    }
    #{$self}_wrapper {
      //background: rgba(51, 51, 51, 0.7);
      //background-blend-mode: multiply;
    }
    #{$self}_title {
      //opacity: 0.7;
      //transform: translate3d(0, 0, 0);
    }
    #{$self}_list {
      //max-height: rem(1000px);
      //opacity: 1;
    }
    #{$self}_listLink {
      //color: var(--sig-white);
    }
    #{$self}_overlay {
      //transform: translate3d(0, 0, 0);
    }
  }
}
