@use '~sass-mq/mq' as mq;

.c-imageHeader {
  $self: &;
  color: var(--sig-white);
  --module-color: var(--sig-grey);

  //temp
  //margin-bottom: 100px;

  &_wrapper {
    @include u-grid(4, $padding-s);
    grid-row-gap: 0;

    @include mq.mq($from: tablet) {
      @include u-grid(12, $padding-m);
      grid-row-gap: 0;
    }
    @include mq.mq($from: desktop) {
      @include u-grid(12, $padding-l);
      grid-row-gap: 0;
    }
  }

  &_content {
    display: inherit;
    grid-template-columns: inherit;
    grid-gap: inherit;
    grid-column: span 12;
  }

  &_pageTitle {
    grid-column: 1 / 6;

    font-size: 3.125rem;
    line-height: 3.75rem;
    letter-spacing: 0.1px;
    color: var(--sig-white);
    font-weight: 400;

    margin-bottom: rem($unit-l);

    & span {
      font-weight: 500;
    }
  }
  &_moduleTitle {
    margin-bottom: rem(40px);
  }

  &_leftElement,
  &_rightElement {
    position: relative;

    &.-end {
      align-items: flex-end;
    }
    &.-start {
      align-items: flex-start;
    }
    &.has-text > picture:before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 3;
      background: linear-gradient(0deg, #262626, transparent);
      display: block;
      mix-blend-mode: multiply;
      opacity: 0.5;
    }
  }

  &_leftWrapper,
  &_rightWrapper {
    grid-column: 1 / 6;

    margin-bottom: rem(40px);
    margin-top: rem(40px);

    @include mq.mq($until: tablet) {
      margin-bottom: rem(25px, 14px);
      margin-top: rem(40px, 14px);
    }
  }

  &_leftElement {
    &:before {
      content: '';
      margin-left: calc(-50vw + 50%);
      //margin-left: calc(-65.55vw + 46.92%);
      background-color: var(--module-color);
      position: absolute;
      inset: 0;
      z-index: -1;
    }
    & > picture,
    & #{$self}_background {
      margin-left: calc(-50vw + 50%);
      //margin-left: calc(-65.55vw + 46.92%);
      background-color: var(--sig-grey);
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    @include mq.mq($until: tablet) {
      &:before {
        margin-right: calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);
      }
      & > picture,
      & #{$self}_background {
        margin-right: calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);
      }
    }
  }
  &_rightElement {
    &:before {
      content: '';
      margin-right: calc(-50vw + 50%);
      //margin-right: calc(-46.92vw + 65.55%);
      background-color: var(--module-color);
      position: absolute;
      inset: 0;
      z-index: -1;
    }
    & > picture,
    & #{$self}_background {
      margin-right: calc(-50vw + 50%);
      //margin-right: calc(-46.92vw + 65.55%);
      background-color: var(--sig-grey);
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    @include mq.mq($until: tablet) {
      &:before {
        margin-right: calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);
      }
      & > picture,
      & #{$self}_background {
        margin-right: calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);
      }
    }
  }

  &.-front {
    margin-bottom: rem(40px);

    #{$self}_leftElement {
      grid-column: 1 / 9;
      background-color: var(--sig-grey);
      grid-row: 1;
      z-index: 2;
      min-height: rem(580px);
      display: inherit;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: inherit;
      //align-items: flex-end;
      margin-top: rem(40px);
      margin-bottom: rem(-40px);

      & > #{$self}_leftWrapper {
        grid-column: 1 / 8;
      }

      &:before,
      & > picture,
      & #{$self}_background {
        margin-left: calc(-46.92vw + 65.55%);
      }

      @include mq.mq($until: tablet) {
        grid-row: 1;
        grid-column: 1 / -1;
        min-height: rem(240px, 14px);
        grid-template-columns: none;
        & > picture {
          margin-right: calc(-50vw + 50%);
          margin-left: calc(-50vw + 50%);
        }
      }
      @include mq.mq($from: tablet, $until: desktop) {
        min-height: rem(310px, 12px);
      }

      @include mq.mq($from: tablet) {
        margin-top: rem(30px, 12px);
        margin-bottom: rem(-30px, 12px);
      }
      @include mq.mq($from: desktop) {
        margin-top: rem(35px, 15px);
        margin-bottom: rem(-35px, 15px);
      }
      @include mq.mq($from: wide) {
        margin-top: rem(40px);
        margin-bottom: rem(-40px);
      }
    }
    #{$self}_rightElement {
      position: relative;
      background-color: var(--sig-grey);
      grid-row: 1;
      grid-column: 4 / -1;
      z-index: 1;
      min-height: rem(580px);

      display: flex;
      //align-items: flex-end;
      display: inherit;
      grid-template-columns: repeat(9, 1fr);
      grid-gap: inherit;

      & > #{$self}_rightWrapper {
        grid-column: 6 / -1;
      }

      &:before,
      & > picture,
      & #{$self}_background {
        margin-right: calc(-65.55vw + 46.92%);
      }

      @include mq.mq($until: tablet) {
        grid-row: 2;
        grid-column: 1 / -1;
        margin-top: 0;
        margin-bottom: 0;
        min-height: rem(240px, 14px);
        grid-template-columns: none;

        & > picture {
          margin-right: calc(-50vw + 50%);
          margin-left: calc(-50vw + 50%);
        }
      }
      @include mq.mq($from: tablet, $until: desktop) {
        min-height: rem(310px, 12px);
      }
    }

    margin-bottom: 0;
    @include mq.mq($from: tablet) {
      margin-bottom: rem(30px, 12px);
    }
    @include mq.mq($from: desktop) {
      margin-bottom: rem(35px, 15px);
    }
    @include mq.mq($from: wide) {
      margin-bottom: rem(40px);
    }
  }
  &.-split {
    #{$self}_leftElement {
      position: relative;
      //background-color: red;
      grid-column: 1 / 10;
      grid-row: 1;
      z-index: 1;
      min-height: rem(580px);

      display: flex;
      //align-items: flex-end;
      display: inherit;
      grid-template-columns: repeat(9, 1fr);
      grid-gap: inherit;

      & > #{$self}_leftWrapper {
        grid-column: 1 / 5;
      }

      @include mq.mq($until: tablet) {
        grid-row: 1;
        grid-column: 1 / -1;
        min-height: rem(240px, 14px);
        grid-template-columns: none;
        & > picture {
          margin-right: calc(-50vw + 50%);
          margin-left: calc(-50vw + 50%);
        }
      }
      @include mq.mq($from: tablet, $until: desktop) {
        min-height: rem(310px, 12px);
      }
    }
    #{$self}_rightElement {
      position: relative;
      background-color: var(--sig-grey);
      grid-row: 1;
      grid-column: 5 / -1;
      z-index: 2;
      min-height: rem(580px);

      display: flex;
      align-items: flex-end;

      display: inherit;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: inherit;

      margin-top: rem(40px);
      margin-bottom: rem(-40px);
      & > picture {
        margin-right: calc(-50vw + 50%);
        background-color: var(--sig-grey);
        position: absolute;
        inset: 0;
        z-index: -1;

        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      & > #{$self}_rightWrapper {
        grid-column: 2 / -1;
      }

      @include mq.mq($until: tablet) {
        grid-row: 2;
        grid-column: 1 / -1;
        margin-top: 0;
        margin-bottom: 0;
        min-height: rem(240px, 14px);
        grid-template-columns: none;

        & > picture {
          margin-right: calc(-50vw + 50%);
          margin-left: calc(-50vw + 50%);
        }
      }
      @include mq.mq($from: tablet, $until: desktop) {
        min-height: rem(310px, 12px);
      }

      @include mq.mq($from: tablet) {
        margin-top: rem(30px, 12px);
        margin-bottom: rem(-30px, 12px);
      }
      @include mq.mq($from: desktop) {
        margin-top: rem(35px, 15px);
        margin-bottom: rem(-35px, 15px);
      }
      @include mq.mq($from: wide) {
        margin-top: rem(40px);
        margin-bottom: rem(-40px);
      }
    }

    margin-bottom: 0;
    @include mq.mq($from: tablet) {
      margin-bottom: rem(30px, 12px);
    }
    @include mq.mq($from: desktop) {
      margin-bottom: rem(35px, 15px);
    }
    @include mq.mq($from: wide) {
      margin-bottom: rem(40px);
    }
  }
  &.-news {
  }

  // STyle Hacks
  & .c-teaserBox_link {
    @include u-hocus() {
      background-color: var(--sig-white);
      color: var(--module-color);
    }
  }
}
