// ==========================================================================
// Form
// ==========================================================================
@use '~sass-mq/mq' as mq;

.c-form {
  $self: &;

  &.-search {
    display: flex;
    margin-bottom: rem(120px);
    @include u-underline(var(--sig-primary), 1px, 0);

    & input {
      @include u-font(28px, 34px, 14px);
      color: var(--sig-primary);
      opacity: 0.7;
      margin-bottom: rem(20px);
      @include mq.mq($from: tablet) {
        @include u-font(26px, 32px, 12px);
      }
      @include mq.mq($from: desktop) {
        @include u-font(34px, 39px, 15px);
      }
      @include mq.mq($from: wide) {
        @include u-font(36px, 42px);
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }
      &::placeholder {
        @include u-font(28px, 34px, 14px);
        color: var(--sig-primary);
        opacity: 0.3;
        @include mq.mq($from: tablet) {
          @include u-font(26px, 32px, 12px);
        }
        @include mq.mq($from: desktop) {
          @include u-font(34px, 39px, 15px);
        }
        @include mq.mq($from: wide) {
          @include u-font(36px, 42px);
        }
      }
      &:focus,
      &:active {
        color: var(--sig-primary);
        opacity: 0.7;
      }
    }
    & .c-button {
      color: var(--sig-primary);
      opacity: 0.7;
      border: none;
      background: none;
      padding: 0;
      font-weight: 400;
      margin-bottom: rem(20px);

      @include u-font(16px, 22px, 14px);

      @include mq.mq($from: tablet) {
        @include u-font(16px, 22px, 12px);
      }
      @include mq.mq($from: desktop) {
        @include u-font(19px, 24px, 15px);
      }
      @include mq.mq($from: wide) {
        @include u-font($font-size-h5, 26px);
      }

      @include u-hocus() {
        opacity: 1;
        background: none;
      }
    }
    &:after {
      opacity: 0.3;
    }

    &:focus-within {
      &:after {
        opacity: 1;
        height: 2px;
      }
    }

    & .c-autocomplete {
      &_list {
        position: absolute;
        top: 100%;
        left: rem(-20px);
        right: rem(-20px);
        padding: 0;
        margin-top: rem(10px);
        border-radius: 0.6rem;
        background-color: #fff;
        box-shadow: 0 3px 6px rgb(149 157 165 / 15%);
        border: 1px solid rgba(33, 33, 33, 0.07);
        z-index: 1000;
        outline: 0;
      }
      &_result {
        padding: rem(7px) rem(20px);
        list-style: none;
        text-align: left;
        color: var(--sig-primary);
        transition: all 0.1s ease-in-out;
        background-color: var(--sig-white);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.2s ease;
        @include u-font(16px, 22px, 14px);

        @include mq.mq($from: tablet) {
          @include u-font(15px, 21px, 12px);
        }
        @include mq.mq($from: desktop) {
          @include u-font(15px, 21px, 15px);
        }
        @include mq.mq($from: wide) {
          @include u-font(16px, 22px);
        }
        @include u-hocus() {
          cursor: pointer;
          background-color: var(--sig-lightgrey);
        }
      }
      &_highlight,
      & .autoComplete_highlighted {
        color: var(--sig-vectorcolor);
        font-weight: 600;
      }
    }
  }
  &.-searchBox,
  &.-bookArchive,
  &.-dateConverter {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;

    & svg,
    & #{$self}_inputIcon {
      position: absolute;
      width: rem(13px);
      height: rem(13px);
      right: 0;
      top: 50%;
      color: var(--form-color);
    }
    & #{$self}_field.-input,
    & #{$self}_field.-select {
      flex-grow: 1;
    }
    #{$self}_field + #{$self}_field {
      margin-left: rem(42px);
    }
    & #{$self}_description {
      margin-bottom: 0;
      margin-top: rem(20px);
      & a {
        color: var(--sig-primary);
        font-weight: $medium;
        margin-right: 10px;
        @include u-hocus() {
          opacity: 0.6;
        }
      }
    }

    & + .c-entryList.-search {
      margin-top: rem(180px);
    }

    @include mq.mq($until: tablet) {
      //align-items: stretch;
      align-items: flex-start;
      flex-flow: column wrap;

      & > #{$self}_field.-input,
      & > #{$self}_field.-radio {
        align-self: stretch;
      }

      & > #{$self}_field + #{$self}_field {
        margin-top: rem(42px, 14px);
        margin-left: 0;
      }
    }
  }

  &.-searchBox {
    & #{$self}_field.-select {
      @include mq.mq($from: tablet) {
        flex-basis: rem(150px);
      }
    }
  }

  &.-newsArchive {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: inherit;
    grid-template-rows: auto auto;

    @include mq.mq($until: tablet) {
      grid-template-columns: repeat(4, 1fr);
      margin-top: rem(20px, 14px);

      & #{$self}_label,
      & #{$self}_title {
        display: none;
      }

      & #{$self}_field + #{$self}_field {
        margin-top: rem(10px, 14px);
      }
    }
  }
  &.-factsheetArchive {
    display: flex;
    //align-items: flex-end;
    flex-flow: column;
  }
  &.-newsletter {
    display: flex;
    align-items: flex-start;
    & > #{$self}_field + #{$self}_field {
      margin-left: rem(42px);
    }

    & > #{$self}_field.-radio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: stretch;
      gap: 0.75rem;

      & > .c-form_label {
        flex-basis: 100%;
      }
      & > .c-form_radioWrapper {
        flex-basis: auto;
      }
      & .c-form_radioLabel {
        //margin-right: 0.75rem;
        margin-right: 0;
      }
    }

    @include mq.mq($until: tablet) {
      //align-items: stretch;
      align-items: flex-start;
      flex-flow: column wrap;

      & > #{$self}_field.-input,
      & > #{$self}_field.-radio {
        align-self: stretch;
      }

      & > #{$self}_field + #{$self}_field {
        margin-top: rem(42px, 14px);
        margin-left: 0;
      }
    }
  }
  &.-newsletterModal {
    // @include u-grid(4, $padding-s);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    //display: flex;
    //flex-flow: row wrap;
    //margin-top: rem(-42px);
    //margin-left: rem(-42px);

    & #{$self}_field {
      //margin-left: rem(42px);
      //margin-top: rem(42px);
    }
  }
  &.-dateConverter {
    & #{$self}_title {
      margin-top: 0;
      margin-bottom: rem(40px);
    }
    & #{$self}_field.-input {
      flex-basis: auto;
      @include mq.mq($from: tablet) {
        flex-basis: rem(100px);
      }
    }
    & #{$self}_field.-select {
      flex-basis: auto;
      @include mq.mq($from: tablet) {
        flex-basis: rem(240px);
      }
    }
  }

  &.-gray {
    position: relative;
    margin-bottom: rem(60px);
    margin-top: rem(60px);

    &:before {
      content: '';
      position: absolute;
      inset: rem(-60px);
      background: var(--sig-lightgrey);
      z-index: -1;
      //border-radius: 4px;
    }
    & #{$self}_title {
      color: var(--sig-primary);
    }
  }

  // Field
  //
  &_item {
    position: relative;
    margin-bottom: rem(30px);
  }
  &_field {
    position: relative;

    &.-input,
    &.InputfieldText,
    &.InputfieldEmail,
    &.InputfieldTextarea {
      @include u-underline(var(--sig-primary), 1px, 0);
      &:after {
        opacity: 0.3;
      }

      &:focus-within {
        & #{$self}_input {
          opacity: 1;
        }
        &:after {
          opacity: 1;
          height: 2px;
        }
      }
      @include u-hocus() {
        &:after {
          opacity: 1;
        }
      }
    }

    &.InputfieldFormBuilderFile input[type='file'] {
      display: none;
    }

    &.-select,
    &.InputfieldSelect {
      display: flex;
      flex-direction: column;
      align-self: normal;
    }

    &.-primary,
    &.Inputfield {
      --form-color: var(--sig-primary);
      --form-decimal-color: var(--sig-primary-decimal);
    }
    &.-submit {
      margin-top: rem(40px);
    }
    &.-white {
      --form-color: var(--sig-white);
      --form-decimal-color: var(--sig-white-decimal);
      & .c-form_label {
        color: var(--form-color);
      }
      &.-input {
        @include u-underline(var(--sig-white), 1px, 0);
      }
    }

    &.-full {
      flex-basis: 100%;
      grid-column: 1 / -1;
    }
    &.-half {
      flex-basis: 50%;
      grid-column: span 1;
    }

    &.has-error {
      --form-color: var(--sig-coralred);
      &:after {
        background-color: var(--form-color);
        height: 2px;
      }
    }
    & .c-form_errorMessage {
      position: absolute;
      @include u-font(14px, 19px);
      color: var(--sig-coralred);
      bottom: rem(-25px);
    }
  }
  #{$self} &_header {
    margin-bottom: rem(40px);
  }
  &_grid > .Inputfields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: rem(40px);
  }
  &_icon {
    position: absolute;
    right: 0;
    opacity: 0.6;
    z-index: 2;
    cursor: pointer;

    & svg {
      height: rem(15px);
      width: rem(15px);
    }
    @include u-hocus() {
      opacity: 1;
    }
  }

  & &_description {
    margin-bottom: rem(30px);
  }
}

// Title
// ==========================================================================
.c-form_title {
  display: block;
  margin-bottom: rem(30px);
  flex-basis: 100%;
}
// Label
// ==========================================================================
.c-form_label {
  @include u-font(12px, 18px);
  display: block;
  margin-bottom: rem(10px);
  color: var(--sig-shipcove);
}

// Input
// ==========================================================================
$input-icon-color: 002982; // No #

.c-form_input {
  //padding: rem(10px);
  //border: 1px solid lightgray;
  //background-color: white;
  color: var(--sig-white);
  margin-bottom: rem(7px);
  opacity: 0.6;

  @include u-font(16px, 22px, 14px);

  @include mq.mq($from: tablet) {
    @include u-font(16px, 22px, 12px);
  }
  @include mq.mq($from: desktop) {
    @include u-font(17px, 23px, 15px);
  }
  @include mq.mq($from: wide) {
    @include u-font(18px, 24px);
  }

  &:hover {
    border-color: darkgray;
  }

  &:focus {
    border-color: dimgray;
  }

  &::placeholder {
    color: var(--sig-darkgrey);
    opacity: 0.6;
    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(17px, 23px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(18px, 24px);
    }
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &.-primary {
    color: var(--sig-darkgrey);
    &::placeholder {
      color: var(--sig-primary);
    }
  }
  &.-mobilePlaceholder::placeholder {
    color: transparent;
    @include mq.mq($until: tablet) {
      color: var(--sig-white);
      opacity: 1;
    }
  }
}

// Checkbox
// ==========================================================================
$checkbox: rem(22px);
$checkbox-icon-color: $input-icon-color;

.c-form_checkboxLabel {
  @extend .c-form_label;
  color: var(--sig-darkgrey);
  position: relative;
  display: inline-block;
  margin-right: rem(12px);
  margin-bottom: 0;
  padding-left: ($checkbox + rem(12px));
  cursor: pointer;
  @include u-font(17px, 23px);

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    margin-top: (-$checkbox * 0.5);
    padding: 0;
    width: $checkbox;
    height: $checkbox;
    content: '';
  }

  &::before {
    background-color: transparent;
    border: 1px solid var(--sig-primary);
    opacity: 0.3;
  }

  &::after {
    border-color: transparent;
    background-color: transparent;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2210.5%22%20viewBox%3D%220%200%2013%2010.5%22%20enable-background%3D%22new%200%200%2013%2010.5%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23var(--sig-primary)%22%20d%3D%22M4.8%205.8L2.4%203.3%200%205.7l4.8%204.8L13%202.4c0%200-2.4-2.4-2.4-2.4L4.8%205.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: center;
    background-size: rem(10px);
    background-repeat: no-repeat;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
      border-width: 2px;
    }
  }

  .c-form_checkbox:focus + & {
    &::before {
      opacity: 1;
      border-width: 2px;
    }
  }

  .c-form_checkbox:checked + & {
    &::after {
      opacity: 1;
    }
  }
}

.c-form_checkbox {
  position: absolute;
  width: 0;
  opacity: 0;
}

// Radio
// ==========================================================================
$radio-icon-color: $input-icon-color;

.c-form_radioLabel {
  @extend .c-form_checkboxLabel;

  &::before,
  &::after {
    border-radius: 50%;
  }

  &::after {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20enable-background%3D%22new%200%200%2013%2013%22%20xml%3Aspace%3D%22preserve%22%3E%3Ccircle%20fill%3D%22%23002982%22%20cx%3D%226.5%22%20cy%3D%226.5%22%20r%3D%226.5%22%2F%3E%3C%2Fsvg%3E');
    background-size: rem(10px);
  }
}

.c-form_radio {
  @extend .c-form_checkbox;
}

// Select
// =============================================================================
$select-icon: rem(40px);
$select-icon-color: $input-icon-color;

.c-form_select {
  $select: &;
  display: inline-block;
  position: relative;
  width: 100%;
  user-select: none;
  color: var(--text-color);

  &,
  & *,
  & *::before,
  & *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.is-disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--form-color);
    transition: transform 150ms ease-out;
    transform: scaleX(0);
  }

  &.is-focused::after,
  &.is-invalid::after {
    transform: scaleX(1);
    background: var(--form-color);
  }

  &.is-invalid::after {
    background: rgb(255, 105, 105);
  }

  &Head {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(var(--form-decimal-color), 0.3);
    transition: border-color 200ms;
  }

  &:not(.is-disabled) &Head:hover {
    border-color: rgba(var(--form-decimal-color), 1);
  }

  &Value {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: rem(7px);
    @include u-font(16px, 22px, 14px);
    color: var(--form-color);
    opacity: 0.6;

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(17px, 23px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(18px, 24px);
    }
    //padding: 0.5rem rem(25px) 0.5rem 0.5rem;
  }

  .edd-arrow {
    position: absolute;
    width: 14px;
    height: 10px;
    top: calc(50% - 5px);
    right: 3px;
    transition: transform, opacity 150ms;
    pointer-events: none;
    color: var(--form-color);
    opacity: 0.6;
  }

  .is-disabled .edd-arrow {
    color: #ccc;
  }

  .edd-arrow::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    top: 0;
    right: 2px;
    transform: rotate(45deg);
    transform-origin: 50% 25%;
  }

  &.is-open .edd-arrow {
    transform: rotate(180deg);
    opacity: 1;
  }

  &Value,
  &Option,
  &GroupLabel {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:not(.is-disabled) &Value,
  &Option {
    cursor: pointer;
  }

  &Select {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: -100%;
    top: 0;
  }

  &.is-native &Select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &Body {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
    box-shadow: 2px 2px 4px #00000019;
    background: var(--sig-white);
    border-radius: 4px;
    margin-left: rem(-20px);
    margin-right: rem(-20px);
    margin-top: rem(10px);
    //border: 1px solid var(--text-color);
    //border-top: 0;
    //border-right: 0;
  }

  &.is-open &Body {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    transition: opacity 200ms, transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &.-above &Body {
    //bottom: 100%;
  }

  &.-below &Body {
    top: 100%;
  }

  &ItemsList {
    overflow: auto;
    max-height: 0;
    transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-overflow-scrolling: touch;
  }

  &ItemsList::-webkit-scrollbar {
    width: rem(8px);
  }

  &ItemsList::-webkit-scrollbar-track {
    background: var(--sig-lightgrey);
  }

  &ItemsList::-webkit-scrollbar-thumb {
    background: #8c8c8c;
    border-radius: 5px;
    height: rem(26px);
  }

  &GroupLabel {
    font-size: 13px;
    padding: 4px 8px 4px 0;
    color: #555;
    font-weight: 600;
  }

  &GroupLabel.has-label {
    padding-left: 22px;
  }

  &Option {
    position: relative;
    color: var(--sig-primary);
    padding: rem(7px) rem(20px) rem(7px) rem(20px);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(15px, 21px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(15px, 21px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(16px, 22px);
    }
  }

  & .is-selected {
    font-weight: 800;
  }

  /*  &Option.is-selected::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    border-bottom: 2px solid #4ac5f1;
    border-left: 2px solid #4ac5f1;
    left: 6px;
    top: calc(50% - 4px);
    transform: rotate(-45deg);
  }*/

  &Option.is-focused:not(.is-disabled) {
    color: var(--sig-primary);
    background-color: var(--sig-lightgrey);
  }

  &Option.is-disabled,
  &Group.is-disabled &Option {
    cursor: default;
    color: #ccc;
  }

  .edd-gradient-top,
  .edd-gradient-bottom {
    content: '';
    position: absolute;
    left: 2px;
    right: 12px;
    height: 32px;
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: repeat-x;
    background-size: 100% 200%;
    pointer-events: none;
    transition: opacity 100ms;
    opacity: 0;
  }

  .edd-gradient-top {
    background-position: bottom;
    top: 0;
  }

  .edd-gradient-bottom {
    background-position: top;
    bottom: 0;
  }

  .is-scrollable .edd-gradient-top,
  .is-scrollable .edd-gradient-bottom {
    opacity: 1;
  }

  .is-scrollable.edd-body-at-top .edd-gradient-top,
  .is-scrollable.edd-body-at-bottom .edd-gradient-bottom {
    opacity: 0;
  }
}

.c-form_select_input {
  @extend .c-form_input;

  position: relative;
  z-index: 1;
  padding-right: $select-icon;
  cursor: pointer;
}

// Textarea
// =============================================================================
.c-form_textarea {
  @extend .c-form_input;

  min-height: rem(200px);
}

// Category Links
// =============================================================================
.c-form_linkWrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: rem(10px);
  column-gap: rem(20px);
  margin-bottom: rem(20px);
  margin-top: rem(50px);
  flex-basis: 100%;
}
.c-form_categoryLink {
  color: var(--sig-primary);
  font-weight: 500;
  //margin-right: rem(20px);
}

// FormBuilder Specific Links
// =============================================================================
.FormBuilderErrors {
  display: none;
}
