@use '~sass-mq/mq' as mq;

.c-downloadBox {
  display: flex;

  $self: &;
  @include u-underline(var(--text-color), 1px, 0);

  &.-primary {
    --svg-color: var(--sig-primary);
    --title-color: var(--sig-primary);
    --text-color: var(--sig-grey);
  }
  &.-white {
    --svg-color: var(--sig-white);
    --title-color: var(--sig-white);
    --text-color: var(--sig-white);
  }

  &.-large {
    grid-column: span 8;
  }

  &_title {
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: rem(10px);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(17px, 23px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(18px, 24px);
    }
  }

  &_content {
    color: var(--text-color);
    margin-bottom: rem(40px);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(17px, 23px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(18px, 24px);
    }
  }

  &_icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    color: var(--svg-color);
    width: rem(26px);
    height: rem(26px);
    transition: fill 0.5s ease, transform 0.5s ease;
  }

  &_mediaIcon {
    color: var(--svg-color);
    width: rem(66px);
    height: rem(66px);
  }

  &_image {
    box-shadow: 5px 5px 5px #26262633;
    margin-bottom: rem(30px);
    max-width: rem(130px);
    max-height: rem(190px);
  }

  &_wrapper {
    flex: 1;
    margin-right: rem(66px);
  }

  @include u-hocus() {
    @include u-underline(var(--title-color), 2px, 0);

    #{$self}_title {
      color: var(--title-color);
    }
    #{$self}_content {
      color: var(--title-color);
    }
  }
}
