@use '~sass-mq/mq' as mq;

.c-masonryModule {
  position: relative;
  //background-color: var(--sig-grey);
  //color: var(--sig-white);

  &_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;

    & img,
    & canvas {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &_wrapper {
    @include u-grid(4, $padding-s);
    grid-row-gap: 0;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'indentLeft'
      'content'
      'indentRight';

    /*    &:after,
    &:before {
      content: '';
      background: var(--sig-white);
      height: rem(40px);
      z-index: 50;
    }
    &:before {
      grid-area: indentLeft;
      margin-left: -100vw;
      grid-column: auto/span 3;
    }
    &:after {
      grid-area: indentRight;
      margin-right: -100vw;
      grid-column: 7 / auto;
    }*/

    @include mq.mq($from: tablet) {
      @include u-grid(12, $padding-m);
      grid-row-gap: 0;
    }
    @include mq.mq($from: desktop) {
      @include u-grid(12, $padding-l);
      grid-row-gap: 0;
    }
  }

  &_content {
    display: inherit;
    //grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
    grid-column-gap: inherit;
    grid-row-gap: rem($unit-l);
    //grid-auto-rows: 0;
    grid-auto-flow: row dense;

    grid-area: content;
    grid-column: 1 / 5;
    //padding: rem($unit-xl) 0;
    padding: 0;
    z-index: 50;

    @include mq.mq($from: tablet) {
      grid-column: 2 / 12;
    }
    @include mq.mq($from: desktop) {
      grid-column: 2 / 12;
    }

    &.has-title {
      padding-top: rem(40px);
    }
  }
}
