@use '~sass-mq/mq' as mq;

.c-lead {
  @include u-font(20px, 26px, 14px);
  color: var(--sig-primary);
  font-weight: 500;

  //padding-top: rem(40px);
  padding-bottom: rem(3px, 14px);

  @include mq.mq($from: tablet) {
    @include u-font(20px, 26px, 12px);
    padding-bottom: rem(28px, 12px);
  }
  @include mq.mq($from: desktop) {
    @include u-font(23px, 30px, 15px);
    padding-bottom: rem(28px, 15px);
  }
  @include mq.mq($from: wide) {
    @include u-font(24px, 32px);
    padding-bottom: rem(38px);
  }
}
