@use '~sass-mq/mq' as mq;

.c-infobox {
  $self: &;
  display: flex;
  flex-flow: column;
  --svg-color: var(--sig-primary);
  --title-color: var(--sig-primary);
  --text-color: var(--sig-grey);

  margin-top: rem(10px, 14px); //50
  margin-bottom: rem(10px, 14px); //40

  @include mq.mq($from: tablet) {
    margin-top: rem(10px, 12px); //65
    margin-bottom: rem(10px, 12px); //45
  }
  @include mq.mq($from: desktop) {
    margin-top: rem(20px, 15px); //70
    margin-bottom: rem(20px, 15px); //50
  }
  @include mq.mq($from: wide) {
    margin-top: rem(40px); //80px
    margin-bottom: rem(40px); //60px
  }

  &.-gray {
    position: relative;
    margin-top: rem(60px);
    margin-bottom: rem(60px);

    &:before {
      content: '';
      position: absolute;
      inset: rem(-60px);
      background: var(--sig-lightgrey);
      z-index: -1;
    }
  }
  &.-inline {
    display: block;
    margin-top: rem(100px);
    margin-bottom: rem(100px);
  }
  &.-module {
    grid-template-columns: repeat(4, 1fr);

    @include mq.mq($from: tablet) {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  &_content {
    color: var(--text-color);
  }
}
