@use '~sass-mq/mq' as mq;

.c-mobileMenu {
  display: none;
  @include mq.mq($until: desktop) {
    display: flex;
    align-items: center;
  }

  &_item {
    & + & {
      margin-left: rem(20px);
    }
  }

  &_link {
    display: block;
  }

  &_icon {
    color: var(--sig-primary);
  }
}
