@use '~sass-mq/mq' as mq;

.c-teaserBox {
  $self: &;
  grid-column: span 5;

  &.-primary {
    --svg-color: var(--sig-primary);
    --title-color: var(--sig-primary);
    --text-color: var(--sig-grey);
  }
  &.-white {
    --svg-color: var(--sig-white);
    --title-color: var(--sig-white);
    --text-color: var(--sig-white);
  }
  &.-large {
    grid-column: span 8;
  }
  &.-masonry {
    grid-column: initial;
    align-self: start;
  }
  &.is-teaser {
    #{$self}_title {
      @include u-font(16px, 22px, 14px);

      @include mq.mq($from: tablet) {
        @include u-font(16px, 22px, 12px);
      }
      @include mq.mq($from: desktop) {
        @include u-font(19px, 24px, 15px);
      }
      @include mq.mq($from: wide) {
        @include u-font($font-size-h5, 26px);
      }
    }
  }
  &.-image.is-teaser {
    #{$self}_title {
      max-width: 100%;
      @include u-font(16px, 22px, 14px);

      @include mq.mq($from: tablet) {
        @include u-font(16px, 22px, 12px);
      }
      @include mq.mq($from: desktop) {
        @include u-font(17px, 23px, 15px);
      }
      @include mq.mq($from: wide) {
        @include u-font(18px, 24px);
      }
    }
    #{$self}_content {
      max-width: 100%;
    }
  }
  &.-image {
    #{$self}_wrapper {
      display: flex;
      flex-flow: column nowrap;
      padding-bottom: rem(20px);
      @include mq.mq($from: tablet) {
        flex-flow: row nowrap;
      }
    }
    #{$self}_media {
      height: rem(174px);
      width: 100%;
      @include mq.mq($from: tablet) {
        height: rem(174px);
        width: rem(174px);
        aspect-ratio: 1 / 1;
      }
    }
    #{$self}_inner {
      display: flex;
      flex-flow: column;
      flex-shrink: 20;
      @include mq.mq($from: tablet) {
        margin-right: rem(44px);
        margin-left: rem(32px);
        flex-shrink: 20;
      }
    }
    #{$self}_content {
      flex-grow: 1;
    }
    #{$self}_link {
      margin-bottom: 0;
    }
  }
  &.-file {
    #{$self}_icon {
      transform: rotateZ(0);
      width: rem(26px);
      height: rem(26px);
    }
  }
  &.-module {
    #{$self}_title {
      @include u-font(16px, 22px, 14px);

      @include mq.mq($from: tablet) {
        @include u-font(16px, 22px, 12px);
      }
      @include mq.mq($from: desktop) {
        @include u-font(19px, 24px, 15px);
      }
      @include mq.mq($from: wide) {
        @include u-font($font-size-h5, 26px);
      }
    }
    #{$self}_wrapper {
      @include u-underline(var(--text-color), 0px, 0);
    }
    #{$self}_link {
      margin-bottom: 0;
    }
    @include u-hocus() {
      #{$self}_wrapper {
        @include u-underline(var(--title-color), 0px, 0);
      }
      #{$self}_content {
        opacity: 0.6;
      }
    }
  }

  &_wrapper {
    @include u-underline(var(--text-color), 1px, 0);
  }
  &_inner {
    //margin-right: rem(66px);
  }

  &_media {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    & img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transform-origin: center center;
      transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &_category {
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: rem(10px);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(19px, 24px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h5, 26px);
    }
  }

  &_title {
    display: block;
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: rem(15px);
    max-width: calc(100% - #{rem(66px)});
    @include u-font(22px, 27px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(19px, 23px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(26px, 32px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h3, 34px);
    }

    &.-large {
      color: var(--text-color);
      @include u-font(26px, 34px, 14px);
      margin-bottom: rem(40px);

      @include mq.mq($from: tablet) {
        @include u-font(26px, 32px, 12px);
      }
      @include mq.mq($from: desktop) {
        @include u-font(34px, 39px, 15px);
      }
      @include mq.mq($from: wide) {
        @include u-font(36px, 42px);
      }
    }
  }

  &_content {
    letter-spacing: 0.04px;
    color: var(--text-color);
    margin-bottom: rem(40px);
    max-width: calc(100% - #{rem(66px)});
    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(17px, 23px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(18px, 24px);
    }

    & h2.c-heading.-h2,
    h2 {
      margin-bottom: rem(20px);
      margin-top: 0;
    }
    & h3.c-heading.-h3,
    h3 {
      margin-bottom: rem(20px);
      margin-top: 0;
    }
    & h4.c-heading.-h4,
    h4 {
      margin-bottom: rem(15px);
      margin-top: 0;
    }
    & h5.c-heading.-h5,
    h5 {
      margin-bottom: rem(15px);
      margin-top: 0;
    }
    & p {
      margin-bottom: rem(15px);
      margin-top: 0;
    }
    @include last(1) {
      margin-bottom: 0;
    }
  }

  &_link {
    display: inline-flex;
    align-self: flex-start;
    font-weight: 500;
    letter-spacing: 0.04px;
    color: var(--title-color);
    border-color: var(--title-color);
    margin-bottom: rem(15px);
    transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include u-font(16px, 22px, 14px);
    @include u-hocus() {
      opacity: 0.6;
    }

    &.c-button.-outline {
      margin-bottom: rem(30px);
    }

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(17px, 23px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(18px, 24px);
    }
  }

  &_icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    color: var(--svg-color);
    fill: var(--svg-color);
    width: rem(21px);
    height: rem(21px);
    transform: rotateZ(180deg);
    transition: fill 0.5s ease, transform 0.5s ease;
  }

  @include u-hocus() {
    #{$self}_wrapper {
      @include u-underline(var(--title-color), 2px, 0);
    }
    #{$self}_title {
      color: var(--title-color);
    }
    #{$self}_content {
      color: var(--title-color);
    }
    #{$self}_icon {
      transform: rotateZ(0deg);
    }
  }
}
