@use '~sass-mq/mq' as mq;

.show-banner > .privacywire-page-wrapper,
.show-options > .privacywire-page-wrapper,
.show-message > .privacywire-page-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.privacywire {
  display: none;
  background: var(--sig-lightgrey);
}

.show-banner .privacywire.privacywire-banner,
.show-options .privacywire.privacywire-options,
.show-message .privacywire.privacywire-message {
  display: block;
  padding-top: rem(60px);
  padding-bottom: rem(60px);
}

.privacywire-header {
  @extend .o-container;
  margin-bottom: rem(15px);
  color: var(--sig-primary);
  font-weight: 400 !important;

  @include u-font(16px, 22px, 14px);

  @include mq.mq($from: tablet) {
    @include u-font(16px, 22px, 12px);
  }
  @include mq.mq($from: desktop) {
    @include u-font(19px, 24px, 15px);
  }
  @include mq.mq($from: wide) {
    @include u-font($font-size-h5, 26px);
  }
}
.privacywire-text {
  margin-bottom: rem(40px);
}

.privacywire-body {
  @extend .o-container;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.privacywire-buttons,
.privacywire-page-links {
  display: flex;
  gap: rem(20px);

  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: row;
  flex-basis: 50%;

  @include mq.mq($until: tablet) {
    flex-basis: 100%;
  }
}

.privacywire-page-links {
  justify-content: flex-end;
  @include mq.mq($until: tablet) {
    justify-content: flex-start;
    margin-top: rem(20px);
  }
}

.privacywire-page-link {
  @extend .c-teaserBox_link;
  margin-bottom: 0;
}

.privacywire-buttons button {
  @extend .c-button;
}
