@use '~sass-mq/mq' as mq;

.c-heading {
  line-height: $line-height-h;
  margin-bottom: rem(30px);

  &.-h1 {
    @include u-font(28px, 34px, 14px);
    letter-spacing: 0.1px;
    font-weight: 400;
    margin-bottom: rem(30px);

    @include mq.mq($from: tablet) {
      @include u-font(38px, 45px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(47px, 56px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h1, 60px);
    }
  }

  &.-h2 {
    @include u-font(26px, 32px, 14px);
    margin-top: rem(80px);
    margin-bottom: rem(25px);

    @include mq.mq($from: tablet) {
      @include u-font(26px, 32px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(34px, 39px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h2, 42px);
    }
  }

  &.-h3 {
    @include u-font(22px, 27px, 14px);
    margin-top: rem(40px);
    margin-bottom: rem(20px);

    @include mq.mq($from: tablet) {
      @include u-font(19px, 23px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(26px, 32px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h3, 34px);
    }
  }

  &.-h4 {
    margin-top: rem(60px);
    margin-bottom: rem(20px);

    @include u-font(18px, 24px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(18px, 24px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(23px, 30px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h4, 30px);
    }
  }

  &.-h5 {
    margin-top: rem(40px);
    margin-bottom: rem(15px);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(19px, 24px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h5, 26px);
    }
  }

  &.-h6 {
    @include u-font($font-size-h6, 24px);
  }

  &.-primary {
    color: var(--sig-primary);
  }
  &.-dark {
    color: var(--sig-grey);
  }
  &.-white {
    color: var(--sig-white);
  }

  &.-nomargin {
    margin: 0;
  }
  &.-mtWide {
    margin-bottom: 0;
    margin-top: rem(58px);
    @include first(1) {
      margin-top: 0;
    }
    @include mq.mq($until: desktop) {
      margin-top: rem(58px, 12px);
    }
    @include mq.mq($until: tablet) {
      margin-top: rem(58px, 14px);
    }
  }
}

@at-root .is-likrat .c-heading {
  text-transform: uppercase;
  font-weight: 500;
}
