// ==========================================================================
// Utilities / Grid
//

@use '~sass-mq/mq' as mq;

$prefix: 'u-grid';
$cell-count: 12;
$aligns: center, start, end, baseline, stretch;
$breakpoint-delimiter: \@ !default;

.#{$prefix} {
  grid-gap: inherit;
}

.#{$prefix}Parent {
  display: grid;
}

@include u-grid-classes($cell-count);

/**
 * If we’re using Sass-MQ, automatically generate grid system(s) for each of our
 * defined breakpoints, and give them a Responsive Suffix, e.g.:
 *
 * <div class="u-grid -col-6@mobile">
 */

@if (variable-exists(mq-breakpoints)) {
  @each $bp-name, $bp-value in $mq-breakpoints {
    @include mq.mq($from: $bp-name) {
      @include u-grid-classes($cell-count, #{$breakpoint-delimiter}#{$bp-name});
    }
  }
}
