// ==========================================================================
// Utilities / Backgrounds
// ==========================================================================

.u-bg {
  &-primary {
    background-color: var(--sd-primary);
    color: var(--sd-black);
  }
  &-secondary {
    background-color: var(--sd-secondary);
    color: var(--sd-black);
  }
  &-black {
    background-color: var(--sd-black);
    color: var(--sd-white);
  }
  &-white {
    background-color: var(--sd-white);
    color: var(--sd-black);
  }
}
