<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Project:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="content">
    <h1>Listing for Project</h1>

    <f:flashMessages/>

    <f:comment><!--
        TODO: Add  proper translations for all fields (static and dynamic)
    --></f:comment>
    <div data-module-project-filter class="tx_rcgprojectdb">
        <div class="filterContainer">
            <f:form
                    id="projectFilter"
                    data="{project-filter: 'filterForm'}"
                    method="post"

                    controller="Project"
                    pluginName="Projectajax"
                    action="ajaxlist"
                    pageType="{settings.ajax.projectAJAXList}"
                    noCacheHash="1"

                    object="{filter}"
                    name="filter">
                <div class="filterContainer clearfix">
                    <div class="filter">
                        <div class="col-md-3">
                            <label class="sr-only" for="searchQuery">Suche</label>
                            <f:form.textfield
                                    id="searchQuery"
                                    data="{project-filter: 'filterInput'}"
                                    property="searchQuery"
                                    class="form-control roundedLeft resetMe keepPlaceholder"
                                    placeholder="Suche"
                            />
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <f:form.select
                                        id="projectType"
                                        data="{project-filter: 'filterSelect'}"
                                        property="projectType"
                                        multiple="1"
                                        options="{cat-{settings.categories.projectType}}"
                                        optionValueField="uid"
                                        optionLabelField="title"
                                        value="{selectedCat-{settings.categories.projectType}}"/>
                            </div>
                            <div class="col-md-4">
                                <f:form.select
                                        id="projectRegion"
                                        data="{project-filter: 'filterSelect'}"
                                        property="projectRegion"
                                        multiple="1"
                                        options="{cat-{settings.categories.projectRegion}}"
                                        optionValueField="uid"
                                        optionLabelField="title"
                                        value="{selectedCat-{settings.categories.projectRegion}}"/>
                            </div>
                            <div class="col-md-4">
                                <f:form.select
                                        id="projectDiscipline"
                                        data="{project-filter: 'filterSelect'}"
                                        property="projectDiscipline"
                                        multiple="1"
                                        options="{cat-{settings.categories.projectDiscipline}}"
                                        optionValueField="uid"
                                        optionLabelField="title"
                                        value="{selectedCat-{settings.categories.projectDiscipline}}"/>
                            </div>
                            <div class="col-md-4">
                                <f:form.select
                                        id="projectEra"
                                        data="{project-filter: 'filterSelect'}"
                                        property="projectEra"
                                        multiple="1"
                                        options="{cat-{settings.categories.projectEra}}"
                                        optionValueField="uid"
                                        optionLabelField="title"
                                        value="{selectedCat-{settings.categories.projectEra}}"/>
                            </div>
                            <div class="col-md-4">
                                <f:form.select
                                        id="researchArea"
                                        data="{project-filter: 'filterSelect'}"
                                        property="researchArea"
                                        multiple="1"
                                        options="{cat-{settings.categories.researchAreas}}"
                                        optionValueField="uid"
                                        optionLabelField="title"
                                        value="{selectedCat-{settings.categories.researchAreas}}"/>
                            </div>
                            <div class="col-md-4">
                                <f:form.submit
                                        data="{project-filter: 'filterSubmit'}"
                                        class="btn-ghost"
                                        value="Send"/>
                            </div>
                        </div>
                    </div>
                    <div class="activeFilters clearfix">
                        <span class="headerSpan">Ihre Auswahl:</span>
                        <ul class="list-tags"></ul>
                        <button data-project-filter="filterReset" class="reset" type="button">Alle Filter zurücksetzen
                        </button>
                    </div>
                </div>


            </f:form>
        </div>
        <div class="results" data-project-filter="filterResults">
            <div class="contentsection backline" data-name="Projekte" id="section-projects">
                <h2 class="h1">
                    <span class="searchResultCountPerType"><f:count>{projects}</f:count></span> Projekte
                </h2>
            </div>
            <f:if condition="{projects}">
                <f:then>
                    <div class="searchTile row">
                        <f:for each="{projects}" as="project">
                            <div class="col-sm-12">
                                <f:link.action action="show" pageUid="{settings.detailPidProjects}"
                                               arguments="{project : project}">
                                    <div class="searchresult bg-white">
                                        <div class="matchHeight">
                                            <h3 class="h2-teaser-lowercase">
                                                {project.title}
                                            </h3>
                                            <p>{project.shortDescription}</p>
                                            <f:if condition="{project.relatedProjectLeads}">
                                                <f:then>
                                                    <f:for each="{project.relatedProjectLeads}" as="lead"
                                                           iteration="iterator">
                                                        <p>{lead.firstname} {lead.lastname}</p>
                                                    </f:for>
                                                </f:then>
                                            </f:if>
                                        </div>
                                        <f:for each="{project.parentProject}" as="parentProject">
                                            <p>Belongs to: {parentProject.title}</p>
                                        </f:for>
                                        <span class="readon">Weiterlesen</span>
                                    </div>
                                </f:link.action>
                            </div>
                        </f:for>
                    </div>
                </f:then>
                <f:else>
                    <h2>Keine Projekte gefunden</h2>
                </f:else>
            </f:if>

        </div>
        <f:debug>{projects}</f:debug>
        <a class="button load-more-items" data-page="{page}"
           href="{f:uri.action(action: 'List', controller: 'JsonProject', pluginName: 'projectlist_AJAX', pageType:'{settings.ajax.projectAJAXList}')}">
            mehr laden
        </a>

        <a class="button load-more-items" data-page="{page}"
           href="{f:uri.action(action: 'show', controller: 'JsonProject', pluginName: 'projectajax', pageType:'{settings.ajax.projectAJAXList}', arguments:'{currentPage: 1, perPage: 1}')}">
            show #1
        </a>
        <a class="button load-more-items" data-page="{page}"
           href="{f:uri.action(action: 'ajaxshow', controller: 'Project', pluginName: 'Projectajax', pageType:'{settings.ajax.projectAJAXList}', noCacheHash: 1, arguments:'{project: 5}')}">
            show #2
        </a>
        <a id="ajaxlist" class="button load-more-items" data-page="{page}"
           href="{f:uri.action(action: 'ajaxlist', controller: 'Project', pluginName: 'Projectajax', pageType:'{settings.ajax.projectAJAXList}', noCacheHash: 1, arguments:'{}')}">
            show all
        </a>
        <a class="button load-more-items" data-page="{page}"
           href="{f:uri.action(action: 'jsonshow', controller: 'Project', pluginName: 'Projectjson', pageType:'{settings.ajax.projectJSONList}', noCacheHash: 1, arguments:'{project: 5}')}">
            json show #2
        </a>

        <a class="button load-more-items" data-page="{page}"
           href="{f:uri.action(action: 'jsonlist', controller: 'Project', pluginName: 'Projectjson', pageType:'{settings.ajax.projectJSONList}', noCacheHash: 1, arguments:'{}')}">
            json show all
        </a>
    </div>
</f:section>
</html>
