<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Project:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="content">
    <h1>Listing for Project</h1>

    <f:flashMessages/>

    <f:comment><!--
        TODO: Add  proper translations for all fields (static and dynamic)
    --></f:comment>
    <div class="filterContainer">
        <f:form method="get">
            <div class="filterContainer clearfix">
                <div class="filter">
                    <div class="col-md-3">
                        <label class="sr-only" for="tx_rcgprojectdb_projectlist[q]">Suche</label>
                        <f:form.textfield
                                id="tx_rcgprojectdb_projectlist[q]"
                                class="form-control roundedLeft resetMe keepPlaceholder"
                                placeholder="Suche"
                                name="q"/>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-4">
                            <f:form.select
                                    name="cat-{settings.categories.projectType}"
                                    options="{cat-{settings.categories.projectType}}"
                                    optionValueField="uid"
                                    optionLabelField="title"
                                    value="{selectedCat-{settings.categories.projectType}}"/>
                        </div>
                        <div class="col-md-4">
                            <f:form.select
                                    name="cat-{settings.categories.projectRegion}"
                                    options="{cat-{settings.categories.projectRegion}}"
                                    optionValueField="uid"
                                    optionLabelField="title"
                                    value="{selectedCat-{settings.categories.projectRegion}}"/>
                        </div>
                        <div class="col-md-4">
                            <f:form.select
                                    name="cat-{settings.categories.projectDiscipline}"
                                    options="{cat-{settings.categories.projectDiscipline}}"
                                    optionValueField="uid"
                                    optionLabelField="title"
                                    value="{selectedCat-{settings.categories.projectDiscipline}}"/>
                        </div>
                        <div class="col-md-4">
                            <f:form.select
                                    name="cat-{settings.categories.projectEra}"
                                    options="{cat-{settings.categories.projectEra}}"
                                    optionValueField="uid"
                                    optionLabelField="title"
                                    value="{selectedCat-{settings.categories.projectEra}}"/>
                        </div>
                        <div class="col-md-4">
                            <f:form.select
                                    name="cat-{settings.categories.researchAreas}"
                                    options="{cat-{settings.categories.researchAreas}}"
                                    optionValueField="uid"
                                    optionLabelField="title"
                                    value="{selectedCat-{settings.categories.researchAreas}}"/>
                        </div>
                        <div class="col-md-4">
                            <f:form.submit
                                    class="btn-ghost"
                                    value="Send"/>
                        </div>
                    </div>
                </div>
                <div class="activeFilters clearfix">
                    <span class="headerSpan">Ihre Auswahl:</span>
                    <ul class="list-tags"></ul>
                    <button class="reset" type="button">Alle Filter zurücksetzen</button>
                </div>
            </div>


        </f:form>
    </div>


    <div class="">
        <div class="contentsection backline" data-name="Projekte" id="section-projects">
            <h2 class="h1">
                <span class="searchResultCountPerType">XYZ</span> Projekte
            </h2>
        </div>
        <div class="tx_rcgprojectdb results searchTile row">
            <f:for each="{projects}" as="project">
                <div class="col-sm-12">
                    <f:link.action action="show" pageUid="{settings.detailPidProjects}" arguments="{project : project}">
                        <div class="searchresult bg-white">
                            <div class="matchHeight">
                                <h3 class="h2-teaser-lowercase">
                                    {project.title}
                                </h3>
                                <p>{project.shortTitle}</p>
                                <f:if condition="{project.researchArea}">
                                    <f:then>
                                        <f:for each="{project.researchArea}" as="category" iteration="iterator">
                                            <p>{category.title}</p>
                                        </f:for>
                                    </f:then>
                                </f:if>
                            </div>
                            <f:image image="{project.image}" width="200"/>
                            <f:for each="{project.parentProject}" as="parentProject">
                                <p>Belongs to: {parentProject.title}</p>
                            </f:for>
                            <span class="readon">Weiterlesen</span>
                        </div>
                    </f:link.action>
                </div>
            </f:for>
        </div>
    </div>
    <f:debug>{projects}</f:debug>

    <table class="tx_rcgprojectdb">
        <tr>
            <th>
                <f:translate key="tx_rcgprojectdb_domain_model_project.image"/>
            </th>
            <th>Parent</th>
            <th>
                <f:translate key="tx_rcgprojectdb_domain_model_project.title"/>
            </th>
            <th>
                <f:translate key="tx_rcgprojectdb_domain_model_project.short_title"/>
            </th>
            <th>
                <f:translate key="tx_rcgprojectdb_domain_model_project.research_area"/>
            </th>
        </tr>

    </table>

    <a class="button load-more-items" data-page="{page}" href="{f:uri.action(action: 'List', controller: 'JsonProject', pluginName: 'projectlist_AJAX', pageType:'{settings.ajax.projectAJAXList}')}">
        mehr laden
    </a>

    <a class="button load-more-items" data-page="{page}" href="{f:uri.action(action: 'show', controller: 'JsonProject', pluginName: 'projectajax', pageType:'{settings.ajax.projectAJAXList}', arguments:'{currentPage: 1, perPage: 1}')}">
        show #1
    </a>
    <a class="button load-more-items" data-page="{page}" href="{f:uri.action(action: 'show', controller: 'JsonProject', pluginName: 'projectajax', pageType:'{settings.ajax.projectAJAXList}', noCacheHash: 1, arguments:'{project: 2}')}">
        show #2
    </a>

    <a class="button load-more-items" data-page="{page}" href="{f:uri.action(action: 'list', controller: 'JsonProject', pluginName: 'projectajax', pageType:'{settings.ajax.projectAJAXList}', noCacheHash: 1, arguments:'{}')}">
        show all
    </a>
</f:section>
</html>
