// ==========================================================================
// Settings / Config
// ==========================================================================

// Context
// =============================================================================
// The current stylesheet context. Available values: frontend, editor.
@use "sass:math";

$context: frontend !default;

// Path is relative to the stylesheets directory.
$assets-path: '../' !default;

// Typefaces
// =============================================================================
$font-sans-serif: 'EuclidCircular', sans-serif;

// Breakpoints
// =============================================================================
$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
  // Tweakpoints
  desktopAd: 810px,
  mobileLandscape: 480px,
);

@use '~sass-mq/mq' as mq with (
  $breakpoints: $mq-breakpoints
);

// Typography
// =============================================================================
// Base
$font-size: 16px !default;
$line-height: math.div(22px, $font-size);
$font-family: $font-sans-serif;
$color: #222222;
// Headings
$font-size-h1: 50px !default;
$font-size-h2: 36px !default;
$font-size-h3: 28px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 18px !default;
$line-height-h: $line-height;
// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

///
/// Font Size Map
/// Name -> mq-Breakpoint -> (Fontsize, Line Height)
///
$sd-font-size: (
  'p': (
    'mobile': (
      16px,
      22px,
    ),
    'tablet': (
      16px,
      22px,
    ),
    'desktop': (
      16px,
      22px,
    ),
    'wide': (
      17px,
      23px,
    ),
  ),
  'h2': (
    'mobile': (
      24px,
      25px,
    ),
  ),
);

// Transitions
// =============================================================================
$speed: 0.3s;
$easing: cubic-bezier(0.215, 0.61, 0.355, 1);

// Spacing Units
// =============================================================================
$unit-xxs: 10px;
$unit-xs: 15px;
$unit-s: 30px;
$unit: 40px;
$unit-m: 60px;
$unit-l: 80px;
$unit-xl: 110px;
$unit-xxl: 160px;

$unit: 60px;
$unit-tiny: 15px;
$unit-small: 30px;
$unit-large: 75px;
$unit-huge: 90px;

// Container
// ==========================================================================
$container-s: 333px;
$container-m: 706px;
$container-l: 1254px;
$padding-s: 22px;
$padding-m: 32px;
$padding-l: 42px;
$padding: $unit;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width. For example: (mobile, tablet, desktop).
//$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);
/*
$from-tiny: 500px !default;
$to-tiny: $from-tiny - 1 !default;
$from-small: 700px !default;
$to-small: $from-small - 1 !default;
$from-medium: 1000px !default;
$to-medium: $from-medium - 1 !default;
$from-large: 1200px !default;
$to-large: $from-large - 1 !default;
$from-big: 1400px !default;
$to-big: $from-big - 1 !default;
$from-huge: 1600px !default;
$to-huge: $from-huge - 1 !default;
$from-enormous: 1800px !default;
$to-enormous: $from-enormous - 1 !default;
$from-gigantic: 2000px !default;
$to-gigantic: $from-gigantic - 1 !default;
$from-colossal: 2400px !default;
$to-colossal: $from-colossal - 1 !default;*/
