// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;
$lightgrey: #f2f2f2;
$grey: #262626;
$grey2: #00000029;
$darkgrey: #333333;
$resolutionblue: #002982;
$malibu: #70c7fd;
$pastelgreen: #83e796;
$coralred: #ff454f;
$mysin: #ffbd1f;

// Specific
// =============================================================================
// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);

// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
