.o-scroll {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  //will-change: transform;

  min-height: 100vh;
  &:after {
    content: '';
  }
}

html.has-nav-open .o-scroll:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  // removed opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
