@use '~sass-mq/mq' as mq;

.o-module {
  &.-container {
    @extend .o-container;
  }
  &.-padding {
    padding-top: rem(60px, 14px);
    padding-bottom: rem(60px, 14px);

    @include mq.mq($from: tablet) {
      padding-top: rem(80px, 12px);
      padding-bottom: rem(80px, 12px);
    }
    @include mq.mq($from: desktop) {
      padding-top: rem(90px, 15px);
      padding-bottom: rem(90px, 15px);
    }
    @include mq.mq($from: wide) {
      padding-top: rem(110px);
      padding-bottom: rem(110px);
    }
  }

  &.-social {
    padding-bottom: rem(60px, 14px);

    @include mq.mq($from: tablet) {
      padding-bottom: rem(60px, 12px);
    }
    @include mq.mq($from: desktop) {
      padding-bottom: rem(60px, 15px);
    }
    @include mq.mq($from: wide) {
      padding-bottom: rem(60px);
    }
  }

  &_header {
    margin-bottom: rem(40px);
  }
  &_headline {
    grid-column: auto;
    font-size: rem(28px);
    line-height: rem(34px);
    font-weight: 400;
    color: var(--sig-primary);

    &.-indent {
      grid-column: 1 / 5;
      @include mq.mq($from: tablet) {
        grid-column: 2 / 6;
      }
      @include mq.mq($from: desktop) {
        grid-column: 2 / 6;
      }
    }
  }

  &.-news {
  }

  &.has-scrollfx {
    opacity: 0;
    transition: none;
  }
}
