@use '~sass-mq/mq' as mq;

.o-vector {
  display: block;
  @include mq.mq($until: tablet) {
    display: initial;
  }

  &_element {
    transform: scale(1.7);
  }
  &_transform {
    transform: translate(-50px, -500px) scale(var(--sig-vectorscale));
  }
  &_image {
    transform: scale(var(--sig-vectorscale));
  }
}
