@use '~sass-mq/mq' as mq;

.o-masonry {
  &.-col-2 {
    grid-template-columns: 1fr;
    @include mq.mq($from: tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &.-col-3 {
    grid-template-columns: 1fr;
    @include mq.mq($from: tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  & > * {
    align-self: start;
    grid-column: initial;
  }
}
