@use '~sass-mq/mq' as mq;

.o-wysiwyg {
  & h1,
  & .c-heading.-h1 {
    @include u-font(28px, 34px, 14px);
    letter-spacing: 0.1px;
    font-weight: 400;
    margin-bottom: rem(30px);
    color: var(--sig-primary);

    @include mq.mq($from: tablet) {
      @include u-font(38px, 45px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(47px, 56px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h1, 60px);
    }
  }

  & h2,
  & .c-heading.-h2 {
    @include u-font(28px, 34px, 14px);
    margin-top: rem(50px);
    margin-bottom: rem(35px);
    color: var(--sig-primary);

    @include mq.mq($from: tablet) {
      @include u-font(26px, 32px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(34px, 39px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font(36px, 42px);
    }
  }

  & h3,
  & .c-heading.-h3 {
    @include u-font(22px, 27px, 14px);
    margin-top: rem(40px);
    margin-bottom: rem(20px);
    color: var(--sig-primary);

    @include mq.mq($from: tablet) {
      @include u-font(19px, 23px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(26px, 32px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h3, 34px);
    }
  }

  & h4,
  & .c-heading.-h4 {
    margin-top: rem(40px);
    margin-bottom: rem(20px);
    color: var(--sig-primary);

    @include u-font(18px, 24px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(18px, 24px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(23px, 30px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h4, 30px);
    }
  }

  & h5,
  & .c-heading.-h5 {
    margin-top: rem(40px);
    margin-bottom: rem(15px);
    color: var(--sig-primary);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      @include u-font(19px, 24px, 15px);
    }
    @include mq.mq($from: wide) {
      @include u-font($font-size-h5, 26px);
    }
  }

  & h6,
  & .c-heading.-h6 {
    @include u-font($font-size-h6, 24px);
    color: var(--sig-primary);
  }

  & p {
    margin-bottom: rem($unit-xs);

    @include u-font(16px, 22px, 14px);

    @include mq.mq($from: tablet) {
      //@include u-font(15px, 21px, 12px);
      @include u-font(16px, 22px, 12px);
    }
    @include mq.mq($from: desktop) {
      //@include u-font(15px, 21px, 15px);
      @include u-font(16px, 22px, 15px);
    }
    @include mq.mq($from: wide) {
      //@include u-font(16px, 22px);
      @include u-font(17px, 23px);
    }

    &.-small {
      @include u-font(14px, 20px);
      margin-bottom: rem(7px);
    }
  }
  & a {
    color: var(--sig-primary);
    font-weight: $medium;

    & .c-link_icon {
      display: inline-flex;
      margin-left: rem(5px);
      margin-right: rem(5px);
    }
    & .c-link_icon svg {
      color: var(--svg-color);
      height: rem(10px);
      width: rem(10px);
      //margin-bottom: 2px;
    }

    @include u-hocus() {
      opacity: 0.6;
    }
  }
  & ul:not([class]) {
    //list-style: initial;
    margin-left: rem($unit-s);
    margin-top: rem(30px);
    margin-bottom: rem(30px);

    & li {
      // Marker-Größe + Margin als negative Einrückung
      text-indent: calc((#{rem($unit-xs)} + #{rem(20px)}) * -1);
      &:before {
        content: '';
        display: inline-block;
        height: rem($unit-xs);
        width: rem($unit-xs);
        background-image: url('../svg/Icon-List-Arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: rem(20px);
        opacity: 1;
      }
      & ul {
        margin-top: rem(12px);
        margin-bottom: rem(12px);
      }
      & > ul li:before {
        opacity: 0.6;
      }
      & > ul li > ul li:before {
        opacity: 0.4;
      }
    }

    & li + li {
      margin-top: rem(7px);
    }
  }

  & blockquote {
    margin: rem(60px) 0;

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      margin: 0;
    }

    @include mq.mq($from: tablet) {
      margin: rem(60px) rem(108px);
    }
    @include mq.mq($from: desktop) {
      margin: rem(60px) rem(108px);
    }
    @include mq.mq($from: wide) {
      margin: rem(60px) rem(108px);
    }
  }

  & > * {
    @include first(1) {
      margin-top: 0 !important;
    }
    @include last(1) {
      margin-bottom: 0 !important;
    }
  }

  & .c-heading.-dark {
    color: var(--sig-grey);
  }

  &.-gray {
    position: relative;
    margin-top: rem(60px);
    margin-bottom: rem(60px);

    &:before {
      content: '';
      position: absolute;
      inset: rem(-60px);
      background: var(--sig-lightgrey);
      z-index: -1;
    }
  }
}

@at-root .is-likrat .o-wysiwyg h1,
  .is-likrat .o-wysiwyg h2,
  .is-likrat .o-wysiwyg h3,
  .is-likrat .o-wysiwyg h4,
  .is-likrat .o-wysiwyg h5,
  .is-likrat .o-wysiwyg h6 {
  text-transform: uppercase;
  font-weight: 500;
}
